<table class="table" *ngIf="!cadastro" style="border: 1px solid"> 
    <thead class="thead-dark" >
      <tr>
        <th scope="col"*ngFor="let item of prioridades;let i=index">{{item}}</th>
        <th>Atualizar</th>
        <th>Excluir</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of lista" >         
        <td *ngFor="let in of prioridades;let i=index" >
                      <button *ngIf="prioridades[i]=='status'" class="btn btn-success" (click) = "desativar(item)">{{item[in]}}</button>
                      <p *ngIf="prioridades[i]!='status'">{{item[in]}}</p>
        </td>
        <td><button class="btn btn-warning" (click)="atualizar(item)">Atualizar</button></td>    
        <td><button class="btn btn-danger" (click)="excluir(item.id)">Excluir</button></td>            
      </tr>
    </tbody>
  </table>

<div class="footer">
  <button class="btn btn-primary" [routerLink]="['/cadastro']" [queryParams] = "{valores:valores,prioridades:prioridades, nome:nome}">Adicionar</button>
</div>